@using PagedList.Mvc;
@model PagedList.IPagedList<HealthMedicine.Models.Medicine>


@{
    ViewBag.Title = "Search and add medicines";
}

<h2>Search and add medicines</h2>

<hr />
@using (Html.BeginForm("Index", "Medicine", FormMethod.Post))
{
    <div class="agroup-class">
        <p class="text-info">
            @Html.TextBox("searchMedicine")
            @Html.TextBox("quantity")
            <button type="submit" class="btn-default form-group">Go</button>
        </p>
    </div>
}
<br />


<table class="table">
    <tr>
        <th>
            Identificator
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Producer
        </th>
        <th>
            Price
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idMedicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
        </tr>
    }
</table>

<div>

    @using (Html.BeginForm("FinalPage", "Medicine", FormMethod.Post))
    {
        <div class="col">
            <button type="submit" class="btn-default form-group">Save</button>
        </div>
    }


    @using (Html.BeginForm("Index", "Medicine", FormMethod.Post))
    {
        <input type="submit" value="Resupply" name="Resupply" class="btn-default" />
    }
</div>

<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 400px">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", "Medicine", new { page }))
    </div>
</div>
