@model HealthMedicine.Models.Order

@{
    ViewBag.Title = "Create";
}
<br />
    <h1 class="uk-heading-line uk-text-center">Create your user</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form>
        <br>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="uk-margin uk-align-center">
            <div class="uk-align-center">
                <h4 class="uk-heading-line uk-text-center"><span>Name</span></h4>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "uk-input uk-form-width-medium uk-align-center" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "uk-form-danger" })
            </div>
        </div>


        <div class="uk-align-center">
            <div class="uk-align-center uk-align-center@m">
                <h4 class="uk-heading-line uk-text-center"><span>Address</span></h4>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "uk-input uk-form-width-medium uk-align-center" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "uk-form-danger" })
            </div>
        </div>

        <div class="uk-align-center">
            <div class="uk-align-center uk-align-center">
                <h4 class="uk-heading-line uk-text-center"><span>Nit</span></h4>
                @Html.EditorFor(model => model.Nit, new { htmlAttributes = new { @class = "uk-input uk-form-width-medium uk-align-center" } })
                @Html.ValidationMessageFor(model => model.Nit, "", new { @class = "uk-form-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="uk-button uk-button-default uk-align-center">Create Order</button>
            </div>
        </div>
    </form>
}


<div>
    <hr />
    @Html.ActionLink("Back", "Index")
    <hr />
</div>

